<header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg ">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="../../../../static/assets/images/logo/logo.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="{% url 'home' %}"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Categories</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">
                                            <li class="nav-item"><a href="javascript:void(0)">Stuhl</a></li>
                                            <li class="nav-item"><a href="javascript:void(0)">Tisch</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-4"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Pages</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Essential Pages</li>
                                                    <li class="nav-item"><a href="../../../../static/about-us.html">About
                                                        Us</a></li>
                                                    <li class="nav-item"><a href="../../../../static/contact.html">Contact
                                                        Us</a></li>
                                                    <li class="nav-item"><a href="../../../../static/faq.html">FAQ</a></li>
                                                </ul>
                                            </li>
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Dashboard</li>
                                                    <li class="nav-item"><a href="../../../../static/profile.html">My
                                                        Profile</a></li>
                                                    <li class="nav-item"><a href="javascript:void(0)">Messages</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">AGB</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">
                                            <li class="nav-item"><a href="../../../../static/agb.html">AGB</a></li>
                                            <li class="nav-item"><a href="../../../../static/datenschutz.html">Datenschutzrichtlinie</a>
                                            </li>
                                            <li class="nav-item"><a href="../../../../static/impressum.html">Impressum</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="login-button">
                                <ul>
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                {{ request.user }}
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Dashboard?</a></li>
                                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'loginpage' %}active{% endif %}"
                                               href="{% url 'loginpage' %}">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}"
                                               href="{% url 'register' %}">Register</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="../wishlist.html"><i class="lni lni-cart"></i>Wunschliste</a>
                                    </li>
                                    <li>
                                        <a href="../../../../static/checkout.html"><i
                                                class="lni lni-cart"></i>Warenkorb</a>
                                    </li>

                                </ul>
                            </div>

                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>