{% extends 'store/layouts/main.html' %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

{% block content %}

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>MIAGGIO</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../static/assets/images/favicon.png"/>
        <!--CSS-->
        <link rel="stylesheet" href="../../../static/assets/css/bootstrap.min.css"/>
    </head>

    <body>
    <!--header-->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg ">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="../../../static/assets/images/logo/logo.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="{% url 'home' %}"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Categories</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">
                                            {% for item in category %}
                                                <li class="nav-item"><a
                                                        href="{% url 'collectionsview' item.slug %}">{{ item.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-4"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Pages</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Essential Pages</li>
                                                    <li class="nav-item"><a href="../../../static/about-us.html">About
                                                        Us</a></li>
                                                    <li class="nav-item"><a href="../../../static/contact.html">Contact
                                                        Us</a></li>
                                                    <li class="nav-item"><a href="../../../static/faq.html">FAQ</a></li>
                                                </ul>
                                            </li>
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Dashboard</li>
                                                    <li class="nav-item"><a href="{% url 'profile' request.user %}">My
                                                        Profile</a></li>
                                                    <li class="nav-item"><a href="javascript:void(0)">Messages</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">AGB</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">
                                            <li class="nav-item"><a href="../../../static/agb.html">AGB</a></li>
                                            <li class="nav-item"><a href="../../../static/datenschutz.html">Datenschutzrichtlinie</a>
                                            </li>
                                            <li class="nav-item"><a href="../../../static/impressum.html">Impressum</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="login-button">
                                <ul>
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                {{ request.user }}
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Dashboard?</a></li>
                                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'loginpage' %}active{% endif %}"
                                               href="{% url 'loginpage' %}">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}"
                                               href="{% url 'register' %}">Register</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'wishlist' %}"><i class="lni lni-cart"></i>Wunschliste</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart' %}"><i
                                                class="lni lni-cart"></i>Warenkorb</a>
                                    </li>

                                </ul>
                            </div>

                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!--header-->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Account Settings</h1>
                    </div>
                </div>
                <div class="col">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>Account Settings</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 mx-auto">
                    <!-- Profile picture -->
                    <div class="card shadow border-0 mt-4 mb-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="avatar avatar-sm bg-warning rounded-circle text-white">
                                            <img alt="picture" width="50" height="50"
                                                 src="../../../static/assets/images/blank.jpg">
                                        </a>
                                        <div class="ms-4">
                                            <span class="h4 d-block mb-0">{{ user }}</span>
                                            <a href="{% url 'profile' request.user %}"
                                               class="text-sm font-semibold text-muted">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <button type="button" class="btn btn-sm btn-neutral" data-bs-toggle="modal"
                                            data-bs-target="#img">Upload
                                    </button>
                                    <div class="modal fade" id="#img" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <form action="#">
                                            <input type="file" id="img" name="img" accept="image/*">
                                            <input type="submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Form -->

                    <form action="{% url 'updateprofile' %}" method="POST" class="mb-4">
                        {% csrf_token %}
                        <div class="mb-4">
                            <h5 class="mb-2">User Information</h5>
                        </div>
                        <div class="row mb-5 g-5">
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-label" for="email">Username</label>
                                    <input type="text" class="form-control" id="email" value="{{ user }}"
                                           name="username">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="">
                                    <label class="form-label" for="email">Password</label>
                                    <input type="password" class="form-control" id="email" value="{{ password_length }}"
                                           name="password" readonly="readonly">
                                </div>

                            </div>
                            <div class="col-md-1 ms-0 ps-0" style="position: relative">
                                <div class="mt-2"></div>
                                <a href="" title="Change Password >"><img style="position: absolute; bottom: 10px" class="icon"
                                        src="../../../static/assets/images/pencil.png" width="25px"
                                        height="25px"></a>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h5 class="mb-2">Customer Information</h5>
                        </div>
                        <div class="row mb-5 g-5">
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-label" for="first_name">First name</label>
                                    <input type="text" class="form-control" id="first_name"
                                           value="{{ user_fname }}" name="fname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-label" for="last_name">Last name</label>
                                    <input type="text" class="form-control" id="last_name"
                                           value="{{ user_lname }}" name="lname">
                                </div>
                            </div>
                        </div>
                        <div class="row g-5">
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email" value="{{ user_email }}"
                                           name="email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-label" for="phone_number">Telefonnummer</label>
                                    <input type="tel" class="form-control" id="phone_number"
                                           value="{{ user_phone }}" name="phone">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="">
                                    <label class="form-label" for="straße">Straße</label>
                                    <input type="text" class="form-control" id="straße" value="{{ user_street }}"
                                           name="street">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="">
                                    <label class="form-label" for="hausnummer">Hausnummer</label>
                                    <input type="text" class="form-control" id="hausnummer"
                                           value="{{ user_house_number }}" name="house_number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label class="form-label" for="city">Stadt</label>
                                    <input type="text" class="form-control" id="city" value="{{ user_city }}"
                                           name="city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label class="form-label" for="country">Land</label>
                                    <select class="form-select" id="country" aria-label="Default select example">
                                        <option selected></option>
                                        <option value="1">Deutschland</option>
                                        <option value="2">Österreich</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="">
                                    <label class="form-label" for="zip">PLZ</label>
                                    <input type="text" class="form-control" id="zip"
                                           value="{{ user_postal_code }}" name="postal_code">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="{% url 'profile' request.user %}">
                                <button type="button" class="btn btn-sm btn-neutral me-2">Cancel</button>
                            </a>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                    <hr class="my-10"/>
                    <!-- Individual switch cards -->
                    <div class="row g-6">
                        <div class="col-md-12">
                            <div class="card shadow border-0">
                                <div class="card-body d-flex align-items-center">
                                    <div>
                                        <h5 class="text-danger mb-2">Deactivate account</h5>
                                        <p class="text-sm text-muted">
                                            Once you delete your account, there is no going back. Please be certain.
                                        </p>
                                    </div>
                                    <div class="ms-auto">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"> Deactivate
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Bist du
                                                            sicher?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Hiermit wird dein Account vollständig gelöscht.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-danger">Ja</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--Newsletter-->
    <div class="newsletter section">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 ">
                        <div class="title">
                            <h2>Newsletter</h2>
                            <p>We don't send spam so don't worry.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="form">
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                                <input name="EMAIL" placeholder="Your email address" type="email">
                                <div class="button">
                                    <button class="btn">Subscribe<span class="dir-part"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Newsletter-->

    <!--Footer-->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="single-footer f-link">
                            <h3>Locations</h3>
                            <ul>
                                <li><a href="#">Oelde</a></li>
                                <li><a href="#">Beckum</a></li>
                                <li><a href="#">Ahlen</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="single-footer f-link">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Signup</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="single-footer f-contact">
                            <h3>Contact</h3>
                            <ul>
                                <li>MIAGGIO GmbH<br> Musterstr 4<br> 59269 Beckum, DE</li>
                                <li>Tel. +49 123456 <br> support@miaggio.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <ul class="footer-bottom-links">
                                    <li><a href="agb.html">AGB</a></li>
                                    <li><a href="datenschutz.html">Datenschutzrichtlinie</a></li>
                                    <li><a href="impressum.html">Impressum</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-->

    <!--scroll-top-->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up">^</i>
    </a>
    <!--scroll-top-->

    <!--JS-->
    </body>
    </html>
{% endblock content %}