{% extends 'store/layouts/main.html' %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

{% block content %}
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>MIAGGIO</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../static/assets/images/favicon.png"/>
        <!--CSS-->
        <link rel="stylesheet" href="../../../static/assets/css/bootstrap.min.css"/>
    </head>

    <body>
    <!--header-->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg ">
                            <a class="navbar-brand mt-1" style="vertical-align: middle; margin-right: unset"
                               href="{% url 'home' %}">
                                <div class="logo-nav-pic"></div>
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item" href="{% url 'home' %}">
                                        <a class=" dd-menu collapsed" href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Categories</a>
                                        <ul class="sub-menu mega-menu collapse" id="submenu-1-5">
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Categories</li>
                                                    {% for item in categories %}
                                                        <li class="nav-item"><a
                                                                href="{% url 'collectionsview' item.slug %}">{{ item.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li class="single-block">
                                                <ul>
                                                    <li class="mega-menu-title">Collections</li>
                                                    {% for collection in collections %}
                                                        <li class="nav-item"><a
                                                                href="{% url 'stylecollections' collection.slug %}">{{ collection.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-4"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Essentials</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">

                                            <li class="nav-item"><a href="{% url 'about-us' %}">About
                                                Us</a></li>
                                            <li class="nav-item"><a href="{% url 'generatecustomfurniture' %}">Creation</a>
                                            </li>
                                            <li class="nav-item"><a href="{% url 'faq' %}">FAQ</a></li>

                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">AGB</a>
                                        <ul class="sub-menu collapse" id="submenu-1-5">
                                            <li class="nav-item"><a href="{% url 'agb' %}">AGB</a></li>
                                            <li class="nav-item"><a href="{% url 'datenschutz' %}">Datenschutzrichtlinie</a>
                                            </li>
                                            <li class="nav-item"><a href="{% url 'impressum' %}">Impressum</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="login-button">
                                <ul>
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false" style="padding-left: unset;">
                                                {% if profile_picture != '' and profile_picture != None %}
                                                    <img alt="picture" width="25" height="25"
                                                         src="../../../static/{{ profile_picture }}"
                                                         class="rounded-circle me-1">
                                                {% endif %}
                                                {{ request.user }}
                                            </a>

                                            <ul class="dropdown-menu shadow"
                                                style="border-radius: unset; border: none; padding: 10px">
                                                <li
                                                        style="border: none; margin: unset; padding: unset; width: 100%">
                                                    <a class="profile-btn p-2"
                                                       style="width: 100%; color: #888888; font-size: 14px"
                                                       href="{% url 'profile' request.user %}">My Profile</a></li>
                                                <li
                                                        style="border: none; margin: unset; padding: unset; width: 100%">
                                                    <a class="profile-btn p-2"
                                                       style="width: 100%; color: #888888; font-size: 14px"
                                                       href="{% url 'home' %}">My Orders</a></li>
                                                <li
                                                        style="border: none; margin: unset; padding: unset; width: 100%">
                                                    <a class="profile-btn p-2"
                                                       style="width: 100%; color: #888888; font-size: 14px"
                                                       href="{% url 'myfurniture' %}">My Creations</a></li>
                                                <hr style="margin: 5px">
                                                <li
                                                        style="border: none; margin: unset; padding: unset; width: 100%">
                                                    <a class="profile-btn p-2"
                                                       style="width: 100%; color: #888888; font-size: 14px"
                                                       href="{% url 'logout' %}">Logout</a>
                                                </li>
                                            </ul>

                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'loginpage' %}active{% endif %}"
                                               href="{% url 'loginpage' %}">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}"
                                               href="{% url 'register' %}">Register</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'wishlist' %}"><i class="lni lni-cart"></i>Wunschliste</a>
                                    </li>
                                    <li class="nav-item" style="vertical-align: middle">
                                        <a href="{% url 'cart' %}" title="Warenkorb">
                                            <div class="cart-nav-pic">
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!--header-->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">My Profile</h1>
                    </div>
                </div>
                <div class="col">
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>My Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 mx-auto">
                    <div class="container mt-5">
                        <div class="card shadow border-0 mt-4 mb-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-sm bg-warning rounded-circle text-white">
                                                {% if profile_picture != '' and profile_picture != None %}
                                                    <img alt="picture" width="80" height="80"
                                                         style="border-radius: 12px"
                                                         src="../../../static/{{ profile_picture }}">
                                                {% else %}
                                                    <img alt="picture" width="80" height="80"
                                                         src="../../../static/assets/images/blank.jpg">
                                                {% endif %}
                                            </a>
                                            <div class="ms-4">
                                                <span class="h4 d-block mb-0">{{ request.user }}</span>
                                                <div class="text-sm font-semibold text-muted">{{ user_email }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ms-auto" style="position: relative">
                                        <div class="mt-2"></div>
                                        <a href="{% url 'updateuser' %}" title="Change User Info"><img
                                                style="position: absolute; bottom: 0px; right: 20px"
                                                src="../../../static/assets/images/pencil.png" width="25px"
                                                height="25px"></a>
                                        <div class="modal fade" id="#img" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <form action="#">
                                                <input type="file" id="img" name="img" accept="image/*">
                                                <input type="submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Kundeninformationen</h3><br>
                                        <p>Vorname: {{ user_fname }}</p><br>
                                        <p>Nachname: {{ user_lname }}</p><br>
                                        <p>Telefon: {{ user_phone }}</p><br>
                                        <p>Mitglied seit: {{ user_time }}</p><br><br><br>
                                        {% if user_newsletter_subscription == True %}
                                            <p>Newsletter Subscription: Subscribed</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Addresse</h3><br>
                                        <p>Straße: {{ user_street }}</p><br>
                                        <p>Hausnummer: {{ user_house_number }}</p><br>
                                        <p>Addressinfo: {{ user_address_info }}</p><br>
                                        <p>PLZ: {{ user_postal_code }}</p><br>
                                        <p>Ort: {{ user_city }}</p><br>
                                        <p>Land: {{ user_country }}</p><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p>Hinweis: Stimmt dies nicht mit Ihren Angaben überein?
                            <a href="{% url 'details' request.user %}" class="btn btn-sm btn-primary">Daten ändern</a>
                        </p>
                    <br>
                        {% if user_newsletter_subscription == True %}
                            <p>Wollen Sie sich vom Newsletter abmelden?
                                <a href="{% url 'unsubscribenewsletter' %}" class="btn btn-sm btn-primary">Unsubscribe</a>
                            </p>
                        {% endif %}
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="single-footer f-link">
                            <h3>Locations</h3>
                            <ul>
                                <li style="color: #f0f0f0">Oelde</li>
                                <li style="color: #f0f0f0">Beckum</li>
                                <li style="color: #f0f0f0">Ahlen</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="single-footer f-link">
                            <h3>Quick Links</h3>
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                                {% else %}
                                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                                    <li><a href="{% url 'loginpage' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Signup</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="single-footer f-contact">
                            <h3>Contact</h3>
                            <ul>
                                <li>MIAGGIO GmbH<br> Musterstr 4<br> 59269 Beckum, DE</li>
                                <li>Tel. +49 123456 <br> support@miaggio.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <ul class="footer-bottom-links">
                                    <li><a href="{% url 'agb' %}">AGB</a></li>
                                    <li><a href="{% url 'datenschutz' %}">Datenschutzrichtlinie</a></li>
                                    <li><a href="{% url 'impressum' %}">Impressum</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-->

    <!--scroll-top-->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up">^</i>
    </a>
    <!--scroll-top-->
    <!--JS-->
    </body>
    </html>
{% endblock content %}