.category-button {
    width: 19.7%;
    height: 120px;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    outline: none;
    background-size: cover; 
    font-weight: bold; 
    font-size: 18px; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.778);
  }

  .category-button.selected {
    background-color: #6710f238;
    color: #fff;
  }
  .subcategory {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
    text-align: center;
  }
  .subcategory.show {
    display: block;
  }
  .subcategory-button.selected {
    background-color: #6610f2;
    color: #fff;
  }