

<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Error 404</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="../../../static/assets/images/favicon.png" />

  <!--CSS-->
  <link rel="stylesheet" href="../../../static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../static/assets/css/main.css" />

</head>

<body>
  <!-- Start Error Area -->
  <div class="error-area">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="error-content">
            <h1>404</h1>
            <h2>Sorry, the page you entered does not exist :(</h2>
            <div class="button">
              <a href="{% url 'home' %}" class="btn">Go back Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Error Area -->
</body>

</html>
